{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>About this project</h1>
    <p class="lead">It is a final year project of BSc Computer Science (BSCCS) offered by City University of Hong Kong</p>
    <p class="lead">This framework is designed to perform automated active learning. It makes use of <a href="http://scikit-learn.org/stable/" target="_blank">scikit-learn</a> and supports auto labeling with the use of <a href="https://www.mturk.com/mturk/welcome" target="_blank">Amazon Mechanical Turk</a>.</p>
  </div>
  
<div class="row">
  <div class="col-md-4">
    <h2>Developer</h2>
    <h3>Mr. Rigsby Chi</h3>
    <h4>Undergraduate</h4>
    <p>Mr. Rigsby Chi is an undergraduate in the City University of Hong Kong majaring in BSc Computer Science (BSCCS). This framework is his final year project aims to achieve low cost and efficient active learing.</p>
  </div>
  <div class="col-md-4">
    <h2>Supervisor</h2>
    <h3>Dr. Sarana Nutanong</h3>
    <h4>Assistant Professor</h4>
    <p>Dr. Sarana Nutanong is an assistant professor in the Department of Computer Science at the City University of Hong Kong. His research interests include scientific data management, data-intensive computing, spatial-temporal query processing, and large-scale machine learning. More specifically, his research is aimed at providing a large-scale, high-throughput support for computational scientific exploration applications, such as protein simulations and computational drug discovery.</p>
    <p><a class="btn btn-default" href="http://www6.cityu.edu.hk/stfprofile/snutanon.htm" role="button" target="_blank">View Profile »</a></p>
  </div>
  <div class="col-md-4">
    <h2>Organization</h2>
    <h3>Department of Computer Science</h3>
    <h4>City University of Hong Kong</h4>
    <p>The Department of Computer Science was established in 1984, and has evolved from a teaching-oriented department into one that excels in both teaching and research. The Department's research foci include multimedia and image computing, computer networks and distributed systems, mobile and real-time computing, algorithms and theory, information security, artificial intelligence, software engineering and object technology.</p>
    <p><a class="btn btn-default" href="http://www.cs.cityu.edu.hk/" role="button" target="_blank">View details »</a></p>
  </div>
</div>
{% endblock %}
