  <Question>
    <QuestionIdentifier>{0}</QuestionIdentifier>
    <DisplayName>{1}</DisplayName>
    <IsRequired>true</IsRequired>
    <QuestionContent>
      <FormattedContent><![CDATA[{2}]]></FormattedContent>
    </QuestionContent>
    <AnswerSpecification>
      <FreeTextAnswer>
      </FreeTextAnswer>
    </AnswerSpecification>
  </Question>
